[KDE Backdeck]
Name=Napoletane
Name[ast]=Napoletane
Name[be]=Napoletane
Name[bn]=Napoletane
Name[br]=Napoletane
Name[bs]=Napoletane
Name[ca]=Napoletane
Name[ca@valencia]=Napoletane
Name[cs]=Napoletane
Name[cy]=Napoletane
Name[da]=Napoletane
Name[de]=Napoletane
Name[el]=Napoletane
Name[en_GB]=Napoletane
Name[eo]=Napoletane
Name[es]=Napoletane
Name[et]=Napoletane
Name[eu]=Napoletane
Name[fa]=Napoletane
Name[fi]=Napoletane
Name[fr]=Napoletane
Name[ga]=Napoletane
Name[gl]=Napoletane
Name[hne]=Napoletane
Name[hr]=Napoletane
Name[hu]=Napoletane
Name[is]=Napoletane
Name[it]=Napoletane
Name[ja]=Napoletane
Name[kk]=Napoletane
Name[km]=Napoletane
Name[ko]=Napoletane
Name[lt]=Napoletane
Name[lv]=Napoletane
Name[mk]=Napoletane
Name[mr]=Napoletane
Name[nb]=Napoletane
Name[nds]=Napoletane
Name[ne]=Napoletane
Name[nl]=Napoletane
Name[nn]=Napoletane
Name[pa]=Napoletane
Name[pl]=Napoletane
Name[pt]=Napoletane
Name[pt_BR]=Napoletane
Name[ro]=Napoletane
Name[ru]=Napoletane
Name[se]=Napoletane
Name[sk]=Napoletane
Name[sl]=Napoletane
Name[sr]=Napoletane
Name[sr@ijekavian]=Napoletane
Name[sr@ijekavianlatin]=Napoletane
Name[sr@latin]=Napoletane
Name[sv]=Napoletane
Name[ta]=Napoletane
Name[tg]=Napoletane
Name[tr]=Napoletane
Name[uk]=Napoletane
Name[wa]=Napoletane
Name[x-test]=Napoletane
Name[zh_CN]=Napoletane
Name[zh_TW]=Napoletane
Preview=Napoletane.png
SVG=napoletane.svgz
Back=napoletane

